<%= render '/admin/includes/nav' %>

<div class="row">
	<div class="col-md-10 offset-1 mt-2">
		<h4>Customers</h4>
		<table class="table table-bordered table-hover table-striped">
		  <tr>
		    <th class="text-center">Firstname</th>
		    <th class="text-center">Lastname</th>
		    <th class="text-center">Email</th>
		    <th class="text-center">Action</th>
		  </tr>
		 
		  <% @users.each do |user| %>
		  	<% if user.email != 'admin@admin.com' %>
		    <tr>
		      <td class="text-center"><%= user.firstname %></td>
		      <td class="text-center"><%= user.lastname %></td>
		      <td class="text-center"><%= user.email %></td>
		      <td class="text-center">
		      	<a href="/admin/customer/delete/<%= user.id %>" class="btn btn-danger btn-sm">Delete</a>
		      </td>
		    </tr>
			<% end %>
		  <% end %>
		</table>		
	</div>
</div>


