<%= render '/admin/includes/nav' %>

<div class="row">
	<div class="col-md-10 offset-1 mt-2">
		<h4>Orders</h4>
		<%= render '/includes/flash-message' %>
	</div>

	<% @orders.each do |order| %>
		<div class="col-md-4 mt-1 text-center">
			<img src="/images/image.jpg" class="img-thumbnail" width="150px">
			<h4>Product: <%= order.product_name %></h4>
			<p>Total: <%= order.total %></p>
			<p>Remarks: <%= order.remarks  %></p>
		</div>
	<% end %>
</div>