<%= render '/admin/includes/nav' %>

<div class="row">
	<div class="col-md-10 offset-1 mt-2">
		<h4>Payments</h4>
		<%= render '/includes/flash-message' %>
		<table class="table table-bordered table-hover table-striped">
			<thead>
			  <tr>
			    <th class="text-center">Customer Name</th>
			    <th class="text-center">Product</th>
			    <th class="text-center">Payment</th>
			  </tr>
			 </thead>
			 <tbody>
			  <% @payments.each do |payment| %>
				    <tr>
				      <td class="text-center"><%= payment.user %></td>
				      <td class="text-center"><%= payment.product %></td>
				      <td class="text-center">
				      	<%= payment.payment %>
				      </td>
				    </tr>
			  <% end %>
			 </tbody>

		</table>
		
	</div>


</div>