<% content_for :title, " - Registration Page" %>

<div class="row">
	<div class="col-md-4 offset-4 mt-5">
		<%= render '/includes/flash-message' %>
		<%= @user.errors.full_messages.first if @user.errors.any? %>
		<h4 class="text-center">Registration</h4>
		<form action="/user/create" method="POST" autocomplete="off">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
			<div class="form-group">
				<label for="firstname">Firstname</label>
				<input type="text" name="firstname" id="firstname" class="form-control" placeholder="Enter Firstname" >
			</div>
			<div class="form-group">
				<label for="lastname">Lastname</label>
				<input type="text" name="lastname" id="lastname" class="form-control" placeholder="Enter Lastname" required="">
			</div>
		  <div class="form-group">
		    <label for="email">Email address:</label>
		    <input type="email" name="email" class="form-control" id="email" placeholder="Enter Email Address">
		  </div>
		  <div class="form-group">
		    <label for="password">Password:</label>
		    <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password">
		  </div>
		  <button type="submit" class="btn btn-success">Register</button>
		  <a href="<%= root_url %>" class="btn btn-success">Back to Home</a>
		</form>
		<br>
		<p>
			<a href="<%= login_path %>">Click Here to Login</a>
		</p>
	</div>
</div>